@model IEnumerable<IMS.ViewModels.StateProvinceViewModel>

<div class="container-fluid">
  <div id="ui-view">
    <div>
      <link href="~/Content/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
      <div class="card">
        <div class="card-header">
          @Html.ActionLink("Add State", "Create", "StateProvinces", null, new { @class = "btn btn-primary" })
        </div>
        <div class="card-body">
          <div id="DataTables_Table_0_wrapper">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered datatable dataTable no-footer" id="dataTable" role="grid" style="border-collapse: collapse !important">
                  <thead>
                    <tr role="row">
                      <th style="width: 180px;">Name</th>
                      <th style="width: 300px;">Abbreviation</th>
                      <th style="width: 150px;">Country</th>
                      <th style="width: 90px;">Status</th>
                      <th style="width: 90px;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model)
                    {
                    <tr role="row">
                      <td>@item.Name</td>
                      <td>@item.Abbreviation</td>
                      <td>@item.Country.Name</td>
                      <td>
                        @if (item.IsActive == true)
                        {
                          <span class="badge badge-success">Active</span>
                        }

                        else
                        {
                          <span class="badge badge-dark">Inactive</span>
                        }
                      </td>
                      <td>
                        <a class="btn btn-info edit" href="/StateProvinces/Edit?id=@item.Id">
                          <i class="fa fa-edit "></i>
                        </a>
                        <a class="btn btn-danger delete" href="/StateProvinces/Delete?id=@item.Id">
                          <i class="fa fa-trash-o "></i>
                        </a>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts{
  <script src="~/Content/DataTables-1.10.16/js/jquery.dataTables.js"></script>
  <script src="~/Content/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
  <script src="~/vendors/datatables/js/datatables.js"></script>
  <script>
    $(function () {
      $('#dataTable').DataTable();
    });
  </script>
}